<h1>
  Rails' request.remote_ip isn't returning the correct value on <a href="https://render.com">Render.com</a>
</h1>

<p>
  ActionPack's "request.remote_ip" returns the wrong value on Render.com. Let's check what Rails' request.env returns to fix this issue.
</p>

<p>
  <%= "This is a vanilla Rails installation of Rails #{Rails.version} on Render.com based on " %>
  <a href="https://github.com/HalfBloody/remote-ip">this repo</a>
</p>

<div class ="container">
  <div class ="field">
    request.remote_ip returns:
  </div>
  <div class ="field value">
    <%= @remote_ip || "---" %>
  </div>
</div>

<div class ="container">
  <div class ="field">
    request.env['HTTP_X_FORWARDED_FOR'] returns:
  </div>
  <div class ="field value">
    <%= @http_x_forwarded_for || "---" %>
  </div>
</div>

<div class ="container">
  <div class ="field">
    request.env['HTTP_TRUE_CLIENT_IP'] returns:
  </div>
  <div class ="field value">
    <%= @http_true_client_ip || "---" %>
  </div>
</div>

<div class ="container">
  <div class ="field">
    request.env['REMOTE_ADDR'] returns:
  </div>
  <div class ="field value">
    <%= @remote_addr || "---" %>
  </div>
</div>

<div class ="container">
  <div class ="field">
    This is the full request.env:
  </div>
  <div class ="field value">
    <%= @request_env || "---" %>
  </div>
</div>
