<h1>
  Rails' request.remote_ip isn't returning the correct value on <a href="https://render.com">Render.com</a>
</h1>

<p>
  I would expect request.remote_ip to be equal to the first value of request.env['HTTP_X_FORWARDED_FOR'], but this is not the case. Instead the first value is ignored and second value is returned instead.
</p>

<p>
  You can check your real ip address at <a href="https://whatismyipaddress.com/">https://whatismyipaddress.com/</a>.
</p>

<p>
  ActionPack's "request.remote_ip" returns the wrong value on Render.com. Below are just all kinds of headers of the request printed out for debugging.
</p>

<p>
  Here is the Rails implementation of <code>remote_ip</code>. I checked it and couldn't understand why it would ignore the first value. Maybe somebody knows more.
</p>

<p>
  <%= "This is a vanilla Rails installation of Rails #{Rails.version} on Render.com based on " %>
  <a href="https://github.com/HalfBloody/remote-ip">this repo</a>
</p>

<div class ="container">
  <div class ="field">
    request.remote_ip returns:
  </div>
  <div class ="field value">
    <%= @remote_ip || "---" %>
  </div>
</div>

<div class ="container">
  <div class ="field">
    request.env['HTTP_X_FORWARDED_FOR'] returns:
  </div>
  <div class ="field value">
    <%= @http_x_forwarded_for || "---" %>
  </div>
</div>

<div class ="container">
  <div class ="field">
    request.env['HTTP_TRUE_CLIENT_IP'] returns:
  </div>
  <div class ="field value">
    <%= @http_true_client_ip || "---" %>
  </div>
</div>

<div class ="container">
  <div class ="field">
    request.env['REMOTE_ADDR'] returns:
  </div>
  <div class ="field value">
    <%= @remote_addr || "---" %>
  </div>
</div>

<div class ="container">
  <div class ="field">
    This is the full request.headers:
  </div>
  <div class ="field value">
    <%= @request_headers.inspect || "---" %>
  </div>
</div>

<% @request_env.each do |k, v| %>
    <%= link_to k, "##{k} " %>
<% end %>


<% @request_env.each do |k, v| %>
  <div id="<%= k %>" class ="container">
    <div class ="field">
      request.env['<%= k %>']:
    </div>
    <div class ="field value">
      <%= v.inspect || "---" %>
    </div>
  </div>
<% end %>
